<h1>
  Default
</h1>
<app-button></app-button>
<h1>
  Outline
</h1>
<app-button variant="outline"></app-button>
<h1>
  Text
</h1>
<app-button variant="text"></app-button>
<h1>
  Disable Shadow
</h1>
<app-button disableShadow color="primary"></app-button>
<h1>
  Disabled
</h1>
<app-button disabled></app-button>
<h1 style="display: inline;">
  Disabled Text
</h1>
<app-button disabled variant="text"></app-button>
<app-button endIcon="local_grocery_store"></app-button>
<app-button disabled startIcon="local_grocery_store"></app-button>
